Package: com.0x416c6578.kbvibe
Name: kbvibe
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak that sends a small haptic tick on keypress.
Maintainer: 0x416c6578
Author: 0x416c6578
Section: Tweaks