Package: com.0x416c6578.kbvibe
Name: kbvibe
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 0x416c6578
Author: 0x416c6578
Section: Tweaks
